<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>{{ evento?.titulo }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="evento-content">
  <div class="evento-item">
    <ion-card>
      <preload-image [ratio]="{w:2, h:1}" src="{{ evento?.imagen }}" title="{{ evento?.titulo }}"></preload-image>
      <ion-card-content>
        <ion-card-title class="item-title">
          {{ evento?.titulo }}
        </ion-card-title>
        <div class="item-text">
          <ion-icon name="calendar"></ion-icon>
          {{ evento?.fecha.completa }}
        </div>
        <div class="item-text">
          <ion-icon name="navigate"></ion-icon>
          {{ evento?.lugar }}
        </div>
        <hr />
        <div class="item-description">
          <ion-icon name="information-circle"></ion-icon>
          {{ evento?.cuerpo }}
        </div>
        <!-- ion-row col-12 no-padding *ngIf="id != charla.autor.id">
          <div col-12 class="rating-label">
            <ion-icon name="star"></ion-icon>
            Calificar presentación
          </div>
          <ion-list col-12 class="ratings-list">
            <ion-item *ngIf="!charlaCalificada()" class="rating-item">
              <rating [(ngModel)]="calificacion" (click)="enviarCalificacion()" max="5"></rating>
            </ion-item>
            <ion-item *ngIf="charlaCalificada()" class="rating-item">
              <rating [(ngModel)]="calificacion" max="5" readOnly="true"></rating>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row col-12 no-pading>
          <ion-col col-3>
            <preload-image class="user-image" [ratio]="{w:0.5, h:0.5}" [src]="charla.autor.imagen" alt="charla.autor.nombre" title="charla.autor.nombre"></preload-image>
          </ion-col>
          <ion-col col-9>
            <h2 class="user-name">{{charla.autor.nombre}}</h2>
            <span class="user-info">{{charla.autor.cargo}}</span>
            <span class="user-info">{{charla.autor.empresa}}</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-row col-12 no-padding class="actions-row" *ngIf="id != charla.autor.id">
        <ion-col no-padding text-center>
          <button ion-button icon-left block (click)="abrirChat(charla.autor.id, id)">
            <ion-icon name="chatbubbles"></ion-icon>
            Enviar mensaje
          </button>
        </ion-col>
      </ion-row -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
